<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <div>
        {% comment %} <ul>
            {% for task in tasks %}
                <li>
                    <p>
                        <strong>{{ task.title }}</strong><br>
                        Priority: {{ task.taskdetail.priority }}<br>
                        Notes: {{ task.taskdetail.notes }}<br>
                        Assigned To: {{ task.taskdetail.assigned_to }}
                    </p>
                </li>
            {% empty %}
                <li>No tasks found.</li>
            {% endfor %}
        </ul> {% endcomment %}
        
        <p>Total Tasks: {{asks}}</p>
    </div>
</body>
</html>
